.auth {
  flex: 1;
  position: relative;
  z-index: 1;
  max-width: 350px;
  @extend %flex;

  &-title {
    margin-bottom: 25px;
    color: $white;
    h2 {
      color: inherit;
      margin-bottom: 10px;
    }
  }

  .form-control {
    background-color: transparent;
    border-color: rgba($base-color, 0.5);
    &:hover {
      border-color: $white;
      box-shadow: none;
    }
    &.is-valid {
      border-color: $success;
    }
  }

  .sep {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    &:before,
    &:after {
      content: "";
      margin: auto;
      top: 27px;
      width: 25%;
      height: 1px;
      z-index: -2;
      background-color: darken($grey, 10);
      position: absolute;
    }
    &:before {
      left: 20%;
    }
    &:after {
      right: 20%;
    }
  }
}

/** social button **/
.social-btn {
  .btn {
    margin: 0 10px;
  }
  small {
    color: $base-dark;
    margin-bottom: 15px;
    display: block;
  }
}
