.aside-chat {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 250px;
  padding: 65px 10px 10px;
  height: 100vh;
  background-color: $white;
  border-left: 1px solid lighten($grey-border, 3%);
  z-index: 999;
  overflow: hidden;
  ul {
    padding: 0 15px 0 0;
    margin: 0;
    li {
      &:not(:last-child) {
        border-bottom: 1px solid lighten($grey-border, 5%);
      }
    }
  }
  .post-avatar {
    cursor: pointer;
    flex: 1;
    margin: 0;
    position: relative;
    padding: 10px;
    transition: all 500ms linear;
    .avatar {
      width: 35px;
      height: 35px;
    }
    h6 {
      font-size: $medium;
      font-weight: normal;
      color: $base-dark;
    }
    &:hover {
      background-color: lighten($base-color, 50%);
    }
  }
}

.chat-box {
  z-index: 1000;
  position: fixed;
  bottom: 0;
  border-radius: 5px;
  overflow: hidden;
  right: 250px;
  width: 300px;
  height: 350px;
  background-color: $white;
  .close {
    position: absolute;
    right: 10px;
    top: 10px;
    color: $white;
    font-size: $medium;
    &:hover {
      color: $base-dark;
    }
  }
  .chat-title {
    padding: 8px;
    background-color: $info;
    h6 {
      color: $white;
      font-size: $medium;
    }
  }
  .chat-body {
    padding: 10px;
    height: calc(100% - 80px);
    ul {
      margin-top: 10px;
      padding: 0;
      li {
        display: flex;
        flex-direction: column;
        font-size: $medium;
        padding-left: 10px;
        label {
          margin-left: -10px;
          color: $info;
          margin-bottom: 0;
          font-weight: 500;
        }
        margin-bottom: 10px;
      }
    }
  }
  .chat-form {
    position: absolute;
    bottom: 0;
    padding: 10px;
    display: flex;
    .btn {
      border-radius: 5px;
      margin-left: 10px;
    }
  }

  .is-typeing {
    font-size: $small;
    color: $violet;
  }
}
