.comments {
  margin-top: 20px;
  h4 {
    margin-bottom: 20px;
  }
  ul {
    padding-left: 0;

    li {
      position: relative;
      margin-bottom: 15px;
      &:not(:last-child) {
        border-bottom: 1px solid #eee;
        padding-bottom: 15px;
      }
      .btn {
        position: absolute;
        right: -10px;
        top: -10px;
      }
      h6 {
        font-size: $base-size - 3;
        font-weight: bold;
        color: lighten($base-dark, 15%);
        margin-bottom: 5px;
      }
      p {
        margin-bottom: 0;
      }
    }
  }
}
