.like-buttons {
  display: inline-block;
  margin-top: -4px;
  .btn {
    font-size: $base-size - 2;
    padding-top: 0;
    padding-bottom: 0;
    color: $info;

    &:focus {
      box-shadow: none;
    }
    &:hover {
      color: $violet;
    }
  }
  span {
    font-weight: bold;
    &:first-of-type {
      display: inline-block;
      margin-right: 5px;
    }
  }
}
