.like-buttons {
  display: inline-block;

  .btn {
    padding: 0 8px;
    font-size: $base-size - 2;
    padding-top: 0;
    padding-bottom: 0;
    color: $info;
    &:focus {
      box-shadow: none;
    }
    &:hover {
      color: $violet;
    }
  }
  span {
    font-weight: bold;
    &:first-of-type {
      margin-right: 4px;
    }
  }
  &.bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-image: linear-gradient(rgba($white, 0.02) 10%, rgba($white, 0.9) 80%);
  }
}
