.panel {
  border: 1px solid #eee;
  padding: 20px;
  width: 100%;
  &-title {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
  &-white {
    background-color: #fff;
  }
}
