.add-post-title {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid lighten($base-color, 50%);
}

.post {
  position: relative;
  padding: 15px;
  background-color: $white;
  margin-bottom: 30px;
  h6 {
    color: $danger-light;
    margin-bottom: 10px;
    font-weight: bold;
    small {
      font-size: $base-size - 5;
      color: lighten($base-dark, 40%);
      font-weight: bold;
      margin-top: 3px;
    }
  }
  p {
    font-size: $base-size - 2;
  }
  &-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    .btn {
      padding: 3px 5px;
    }
  }
  img {
    width: 100%;
    margin-bottom: 10px;
  }
}

.posts {
  position: relative;
  .like-buttons {
    padding: 10px;
    margin-left: -20px;
    margin-right: -20px;
    display: block;
    border-top: 1px solid lighten($border-color, 20%);
    border-bottom: 1px solid lighten($border-color, 20%);
  }
  &-image {
    margin-top: 15px;
    position: relative;
    max-height: 150px;
    overflow: hidden;
  }
  &-body {
    margin: 15px 0 20px;
  }
  &-user {
    display: inline-flex;

    &-avatar {
      display: flex;
      align-items: center;
      h6 {
        small {
          font-size: $small;
          margin-top: 2px;
          color: lighten($base-color, 10%);
        }
      }
      a {
        margin-right: 10px;
      }
    }
  }
  &-add-comment {
    display: flex;
    margin-top: 40px;
    align-items: center;
    form {
      margin-left: 15px;
      flex: 1;
      display: flex;
      .form-group {
        margin-bottom: 0;
        margin-right: 10px;
        flex: 1;
      }
      .form-control {
        font-size: $small;
      }
      .btn {
        border-radius: 5px;
      }
    }
  }
}

.post-action {
  position: absolute;
  right: 10px;
  top: 10px;
  .dropdown-menu {
    border-radius: 0;
    border: none;
    box-shadow: 0 0 10px lighten($base-color, 40%);
    overflow: hidden;
    .btn {
      font-size: $medium;
      border-radius: 0;
      border: none;
      box-shadow: none;
      padding: 5px 15px;
      outline: none;
      span {
        margin-right: 10px;
      }
    }
  }
}
