.post,
.single-posts {
  position: relative;
  z-index: 1;
  h6 {
    margin-bottom: 10px;
    color: $info;
    font-weight: 500;
  }
}

// Post style
.post {
  border-radius: 5px;
  margin-bottom: 30px;
  p {
    margin-bottom: 0;
  }

  &-image {
    position: relative;
    max-height: 200px;
    overflow: hidden;
    display: block;
    border-radius: 5px;
    margin-bottom: 10px;
    img {
      width: 100%;
    }
  }
  &-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    .btn {
      padding: 3px 5px;
    }
  }
  &-avatar {
    z-index: 10;
    display: flex;
    align-items: center;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    h6 {
      color: $white;
      margin-bottom: 0;
      small {
        font-size: $small;
        margin-top: 2px;
      }
    }
    a {
      margin-right: 10px;
    }
  }
  .leave-comment {
    margin-top: 40px;
    padding-top: 20px;
  }

  // post comment css
  &-add-comment {
    display: flex;
    align-items: center;
    margin-top: 40px;
    form {
      margin-left: 15px;
      flex: 1;
      display: flex;
      .form-group {
        margin-bottom: 0;
        margin-right: 10px;
        flex: 1;
      }
      .form-control {
        font-size: $small;
      }
      .btn {
        border-radius: 5px;
      }
    }
  }
}

// single posts
.single-posts {
  .posts-image {
    position: relative;
    overflow: hidden;
    max-height: 300px;
    margin-bottom: 15px;
    border-radius: 5px;
    img {
      width: 100%;
    }
  }
  .posts-title {
    h6 {
      margin-bottom: 10px;
      font-weight: 500;
    }
  }
}

// post action
.post-action {
  z-index: 10;
  position: absolute;
  right: 30px;
  top: 30px;
  a {
    color: $white;
  }
  .dropdown-menu {
    border: none;
    box-shadow: 0 0 10px lighten($base-color, 40%);
    overflow: hidden;
    .btn {
      font-size: $medium;
      border-radius: 0;
      border: none;
      box-shadow: none;
      padding: 5px 15px;
      outline: none;
      span {
        margin-right: 10px;
      }
    }
  }
}
