.sidebar {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-family: "Muli", sans-serif;
  background: #fff;
  width: 240px;
  height: calc(100vh - 60px);
  position: relative;
  top: 50px;
  left: 0;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
  z-index: 10;

  scrollbar-width: none;
  -ms-overflow-style: none;
  hr.sidebar-divider {
    margin: 0 1rem 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
  }
  .menu {
    padding: 0 15px 15px;
  }
  a {
    width: auto;
    color: $base-color;
    font-size: $base-size - 2;
    padding-top: 10px;
    padding-bottom: 10px;
    &.active {
      color: $info;
    }
    &:hover {
      color: $info;
    }
    svg {
      margin-right: 8px;
    }
  }
}

/** user info **/
.user-info {
  padding: 25px 15px 0;
  position: relative;
  text-align: center;
  .image {
    margin-bottom: 5px;
  }
  a {
    display: inline-block;
    padding: 8px;
  }
  img {
    width: 80px;
    border-radius: 50%;
    vertical-align: bottom;
    border: 3px solid $white;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
  }
}

ul {
  padding: 0;
  li {
    position: relative;
  }
}
