.single-post {
  h2 {
    margin-bottom: 20px;
  }

  .single-post-image {
    margin-top: 10px;
    margin-bottom: 15px;
    position: relative;
    .full {
      border: 1px solid lighten($border-color, 20%);
    }
    .avatar {
      position: absolute;
      left: 10px;
      top: 10px;
      border-radius: 5px;
    }
    .like-buttons {
      position: absolute;
      width: 99.8%;
      height: 100px;
      bottom: 1px;
      right: 1px;
      left: 1px;
      padding: 10px;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      background-image: linear-gradient(rgba($white, 0.02) 10%, $white 90%);
    }
  }
}

.post-user {
  font-size: $base-size - 2;
  color: lighten($base-color, 30%);
  small {
    font-size: inherit;
    color: $base-color;
  }
}

.post-date-comment {
  display: inline-flex;
  align-items: center;
  .btn {
    margin-left: 10px;
    padding: 0;
    font-size: $base-size - 3;
    span {
      position: relative;
      top: 1px;
      margin-right: 4px;
    }
  }
  .date {
    margin-bottom: 0;
    margin-right: 10px;
    color: $base-color;
    time {
      font-weight: normal;
    }
  }
}

.leave-comment {
  margin-top: 60px;
  padding-top: 40px;
  position: relative;
  label {
    margin-left: 10px;
  }
  &:before,
  &:after {
    position: absolute;
    content: "";
  }
  &:before {
    top: 0;
    height: 1px;
    background-color: #eee;
    width: 100%;
  }
  &:after {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $violet;
    left: 0;
    right: 0;
    margin: auto;
    top: -8px;
  }
  h4 {
    margin-bottom: 15px;
  }
}
