.table {
  thead {
    background-color: #dee2e6;
    th {
      text-transform: capitalize;
      font-weight: 600;
      text-shadow: none;

    }
  }
  tr {
    td {
      font-size: 14px;
      line-height: 1.2;
      &:nth-child(2){
        text-transform: capitalize;
      }
    }
  }
}
