.date {
  font-size: $base-size - 4;
  font-weight: bold;
  color: $info;
  margin-bottom: 10px;
  time {
    &:last-child {
      &:before {
        content: "-";
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;
      }
    }
    &:only-child {
      &:before {
        display: none;
      }
    }
  }
}
