.profile {
  background-color: $white;
  padding: 50px 15px 15px;
  position: relative;
  z-index: 1;
  text-align: center;
  margin-bottom: 30px;

  &:before {
    background-color: $info;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    content: "";
    height: 100px;
    position: absolute;
    z-index: -1;
  }
  &-image {
    box-shadow: 0 0 10px $border-color;
    display: inherit;
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    img {
      max-width: 100%;
    }
  }
  &-body {
    margin-top: 25px;
    h6 {
      color: $black;
      small {
        display: block;
        margin-top: 4px;
        color: $base-dark;
      }
    }
  }
  &-footer {
    border-top: 1px solid lighten($border-color, 20%);
    padding: 10px;
    a {
      color: $base-dark;

      &:hover {
        color: $primary;
      }
    }
  }
}

.view-profile {
  .panel {
    > h6 {
      margin-bottom: 10px;
      font-weight: bold;
      text-transform: capitalize;
    }
  }
}
