.btn {
  border-radius: 50px;
  &-auth {
    min-width: 120px;
  }
  &-forgot {
    color: $white;
    font-size: $base-size - 3;
    margin-bottom: 10px;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: $info;
    }
  }
}
