#root .wrapper {
  flex: 1;
  display: inherit;
  flex-direction: column;
  main {
    flex: 1;
  }
}

#root .wrapper .content-wrapper {
  background-color: #f4f6f9;
  overflow-x: hidden;
  margin: 60px 0px 0 250px;
  flex: 1;
  .container-fluid {
    flex: 1;
    padding: 20px;
  }
}

.flex-1 {
  flex: 1;
}

.row-user-mod {
  > div[class^="col-sm"] {
    &:first-child {
      padding-right: 0;
    }
  }
}
